body{
    background-color: rgb(29, 29, 29);
    transition: 1s;
    overflow-x:hidden;
}
h1{
    padding-top: 300px;
    padding-left: 100px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    display: flex;
    color: white;
}
.box{
   width: 40%;
    height: 120px;
    position: absolute;
    top: 460px;
    left: 90px;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    color: #fff;
}
.containerForHeader{
    position: absolute;
    width: 100%;
    height: 100px;
}
.menu {
    display: flex;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation-name: show_menu;
    animation-duration: 0.7s;
    background-color: white;
    margin-top: 0;
    padding-top: 100px;
    color: #fff;
    background-color: rgb(29, 29, 29);
    transition: 1s;

}
@keyframes show_menu {
    0%{
        opacity: 0;
        top: -70px
    }
    10%{
        opacity: 10%;
        top: -63px;
    }
    20%{
         opacity: 20%;
         top: -56px;
     }
    30%{
        opacity: 30%;
        top: -49px;
    }
    40%{
        opacity: 40%;
        top: -42px;
    }
    50%{
        opacity: 50%;
        top: -35px;
    }
    60%{
        opacity: 60%;
        top: -28px;
    }
    70%{
        opacity: 70%;
        top: -21px;
    }
    80%{
        opacity: 80%;
        top: -14px;
    }
    90%{
        opacity: 90%;
        top: -7px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
.menu li{
    width: 100px;
    list-style: none;
    position: relative;
}
.menu a {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}
.menu a:hover{
    background: #808291;
}
.menu ul{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}
.menu li:hover ul{
    display: block;
}
.submenu{
    text-decoration: none;
}
.submenu a:hover{
    text-decoration: underline;
}
.box2{
    position: absolute;
    top: 1500px;
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    text-align: center;
    display: flex;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.containerForButton{
    top: 1620px;
    display: flex;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.button{
    display: inline-block;
    padding: 30px 30px;
    color: black;
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    text-align: center;
    border-radius: 15px;
    user-select: none;
    border: 0;
    box-shadow: none;
    text-decoration: none;
}
.button:hover{
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #808291;
}
.infoBox1{
    font-family: 'Calibri', sans-serif;
    font-size: large;
    text-align: left;
    display: flex;
    top: 1000px;
    width: 20%;
    height: 120px;
    left: 90px;
    position: absolute;
    color: #fff;
}
.hInfoBox1{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    text-align: left;
    display: flex;
    top: 920px;
    width: 40%;
    height: 120px;
    left: 90px;
    position: absolute;
    color: #fff;
}
.infoBox2{
    font-family: 'Calibri', sans-serif;
    font-size: large;
    text-align: left;
    display: flex;
    top: 1000px;
    width: 20%;
    height: 120px;
    left: 500px;
    position: absolute;
    color: #fff;
}
.hInfoBox2{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    text-align: left;
    display: flex;
    top: 920px;
    width: 40%;
    height: 120px;
    left: 500px;
    position: absolute;
    color: #fff;
}
.infoBox3{
    font-family: 'Calibri', sans-serif;
    font-size: large;
    text-align: left;
    display: flex;
    top: 1000px;
    width: 20%;
    height: 120px;
    left: 900px;
    position: absolute;
    color: #fff;
}
.hInfoBox3{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    text-align: left;
    display: flex;
    top: 920px;
    width: 40%;
    height: 120px;
    left: 900px;
    position: absolute;
    color: #fff;
}
.image{
width: 100px;
    height: 100px;
    left: 220px;
    position: absolute;
}
.themeButton{
    padding: 8px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    margin-top: 1%;
    outline: none;
    position: absolute;
    margin-top: 30px;
    margin-left: 80%;
}
.themeButton:hover{
    background: rgb(45, 50, 102);
    cursor: pointer;
}
